@font-face {
	font-family: 'OpenSansLight';
	font-variant: normal;
	src: url('../font/OpenSans-Light.ttf');
}

body {
	font-family: 'OpenSansLight';
}

#h1_comente {
	text-align: left;
	font-size: 40px;
	font-style: normal;
}